p {
  background-color: lightgray;
  }

  .box {
     width: 200px ;
     height: 100px ;
    background-color: lightblue;

    }

    #title {
      color: green;
      }
    
      .different-div {
        width: 250px;
        padding: 20px;
        border:3px solid black ;
        margin: 15px;
        box-sizing: border-box

      }

      h1 {
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
      }

      body {
        font-family:poppins;
        font-family: "roboto", Arial, sans-serif;
        font-size: 16px;
      }
      
      a{
        text-decoration: underline;
        text-decoration-color: red;
        text-decoration-style: wavy;
      }

      .different-p {
        color: rgb(255,0,0);
        color: #000000;
      }
      

      

      
      


      
    
  