p {
  background-color: lightgray;
  }

  .box {
     width: 200px ;
     height: 100px ;
    background-color: lightblue;

    }

    #title {
      color: green;
      }
    
      .different-div {
        width: 250px;
        padding: 20px;
        border:3px solid black ;
        margin: 15px;
        box-sizing: border-box

      }

      h1 {
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
      }

      body {
        font-family:poppins;
        font-family: "roboto", Arial, sans-serif;
        font-size: 16px;
      }
      
      a{
        text-decoration: underline;
        text-decoration-color: red;
        text-decoration-style: wavy;
      }

      .different-p {
        color:rgb(255,0,0);
        background-color: #000000;
        }

        .card {
            padding:10px 20px;
            margin:15px 30px;
        }

        .difft-div {
          width: 200px;
          height: 100px;
          overflow: scroll;       
        }

        span {
          background-color: lightgoldenrodyellow;
          width: 100px;
        }

        .display-1 {
          width: 200px;
          height: 50;
          background-color: aqua;     
        }
        .display-2 {
          width: 200px;
          height: 50;
          background-color: blue;
         
        }
        
        .box {
          display: inline-block;
          width: 150px;
          height: 100px;
          margin: 10px;
        }

        .dis-1 {
          display: none;
        }
        
        .dis-2 {
          visibility: hidden;
        }

        .boxes {
          width: 200px;
          height: 200px;
          background-color: rgba(255, 0, 0, 0.5);
        }
      
        .container {
          display: flex;
          gap: 10px;
        }
        .box {
          width: 100px;
          height: 100px;
          opacity: 0.5;
        }
        .boxer-1 {
          width: 100px;
          height: 100px;
          opacity: 0.5;
          background-color: aquamarine;
        }
        .boxer-2 {
          width: 100px;
          height: 100px;
          opacity: 0.5;
          background-color: blanchedalmond;
        }
        .boxer-3 {
          width: 100px;
          height: 100px;
          opacity: 0.5;
          background-color: blueviolet;
        }

      
      


      
    
  